.sidebar {
    position: sticky;
    top: 100px;
    left: 20px;
    width: 220px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: auto;
    max-height: 80vh;
}

@media (max-width: 999px) {
    .sidebar {
        display: none;
    }
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img img {
    border-radius: 50%;
    border: 2px solid #ddd;
}

.profile-card .profile-img {
    flex-shrink: 0;
}

.profile-card .profile-details {
    text-align: left;
}

.profile-card .card-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
    width: 100%;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.card-body {
    padding: 20px;
}

.blog_right_sidebar {
    padding: 20px 0;
}

.single_sidebar_widget {
    margin-bottom: 20px;
}

.widget_title {
    font-size: 18px;
    font-weight: 600;
}

.cat-list li {
    list-style: none;
}

.cat-list li a {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.cat-list li a p {
    margin: 0;
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.table thead th {
    background-color: #343a40;
    color: white;
}

.table tbody td {
    vertical-align: middle;
}

.profile-details .profile-info > * {
    margin-bottom: 8px;
}

.profile-details .profile-info > *:last-child {
    margin-bottom: 0;
}

.custom-button {
    display: block;
    width: 100%;
    padding: 15px 25px;
    color: #858585;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;

}

.custom-button:hover {
    color: #606060;
    transform: translateY(-2px);
}

.approve-button, .reject-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.approve-button {
    background-color: #8f8e8e; 
}

.reject-button {
    background-color: #666464; 
}

.approve-button:hover, .reject-button:hover {
    color: black;
    transform: translateY(-2px);
}
